@charset "utf-8";

/*重置浏览器自带的css样式,编写一些经常使用的样式表*/


body, p, input, dl, dt, dd, ul, li,
ol, h1, h2, h3, h4, h5, h6, pre, button,
textarea, select, table, th, tr{
    margin: 0;
    padding: 0;

}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    border: none;
    
    vertical-align: top;
}

button, textarea, select, input, a{
    outline:none;
}